# yarn / packages
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
/.pnp.*
node_modules

# build artifacts
/dist
tsconfig.tsbuildinfo
e2e/**/yarn.lock
e2e/**/.pnp.*
e2e/**/.vscode-test
package.tgz

# vscode binaries
.vscode-test
